@use './colors' as colors;

@mixin tablet {
	@media (min-width: 48rem) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 64rem) {
		@content;
	}
}

@mixin large-desktop {
	@media (min-width: 75rem) {
		@content;
	}
}

@mixin focus-visible {
	&:focus-visible {
		outline: 0.18em solid colors.$color-primary-hover;
		outline-offset: 0.25em;
	}
}

@mixin section-spacing {
	padding-block: 3.7em;

	@include tablet {
		padding-block: 5em;
	}

	@include desktop {
		padding-block: 6em;
	}
}