@use './colors' as colors;

@mixin mini {
	@media (max-width: 25em) {
		@content;
	}
}

@mixin tablet-mini {
	@media (min-width: 25em) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 48em) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 58em) {
		@content;
	}
}

@mixin large-desktop {
	@media (min-width: 75em) {
		@content;
	}
}

@mixin focus-visible {
	&:focus-visible {
		outline: 0.18em solid colors.$color-primary-hover;
		outline-offset: 0.25em;
	}
}

@mixin section-spacing {
	padding-block: 3.7em;

	@include tablet {
		padding-block: 4.5em;
	}
}